body {
    background-image: url(a5bg.png);
    background-color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: white;
}

nav li {
    border: 1px solid blue;
    width: 150px;
    background-color: blue;
    padding: 0px;
    margin-bottom: 16px;
    display: inline-block;
    
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 24px;
}

nav a:hover {
 background-color: darkblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p a {
 color: blue;
}

p a:hover {
    color: red;
    
}

footer {
    
    border: 1px solid white;
    width: 1500px;
    background-color: blue;
    padding: 0px;
    margin-bottom: 16px;
    display: inline-block;
}
footer p{
    color: white;
    text-align: center;
    font: verdana;
    font-weight: bold;
    font-style: italic;
}

h2 {
    background-color: white;
}

.WhiteBox {
    background-color: white;
    
}