body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
   
}

h1 {
  grid-column: span 4;
  background-color: #1400ff;
  color: white;
}

#maining {
  grid-column: span 8;
  width: 100%;
}

nav {
  grid-column: span 4;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
 

}

nav li{
  
  color: white;
  font-size: 32px;
  
}

nav li a{
  background-color: #1400ff;
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;
  margin: 20px;
  width: 100px;
  
  
  
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px ;
}

section h2 {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color:#1400ff;
  border-bottom: 5px solid #1400ff;
}

footer {
  grid-column: span 6;
  font-size: 25px;
}
/*
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
I am keeping this here so I can remember what font I am using for the assignment.
*/

#DropShadow{ 
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9); 
} 
